<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barbería Alura</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  </head>
  <body>
    <%- include ("./partials/navbar")%>

    <main>
      <section>
        <ul class="productos">
          <% servicios.map(servicio =>{%>
            <li class="producto">
              <h2><%=servicio.nombre%></h2>
              <img src="<%=servicio.imagen%>" />
              <p class="producto-descripcion">
                <%=servicio.servicio%>
              </p>
              <p class="producto-precio">$ <%=servicio.precio%></p>
            </li>
            <%})%>
        </ul>
      </section>
    </main>

    <%- include ("./partials/footer")%>
  </body>
</html>
